@import 'tailwindcss';

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-disappear: disappear 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
  @keyframes disappear {
    0% {
        transit
      opacity: 1;
      visibility: visible;
    }
    ,
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
}
